.countryItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  font-size: 1.7rem;
  font-weight: 600;
  background-color: var(--color-dark--2);
  border-radius: 7px;
  padding: 1rem 2rem;
  border-left: 5px solid var(--color-brand--1);
}

.countryItem span:first-child {
  font-size: 3rem;
  line-height: 1;
}

.flag {
  width: 4rem;
  height: 2.5rem;
  right: 1rem;
  top: 3.7rem;
  font-size: 2.8rem;
  border-radius: 5px;
  transform: skewY(-4deg) rotate(-2deg);
  filter: contrast(1.1) brightness(0.95);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}
